<!-- start catalog/pdp/product-social.hbs -->
<div class="social-share">
  <ul class="social-icons pdp-social-icons">
    <a href="">
    	<li>
    		<img class="social-icon" src="{{@root.meta.assetsPath}}img/Facebook-ef32eacb611b070b6f37fdc6772767fb.png" alt="facebook">
    	</li>
    </a>
    <a href="">
    	<li>
    		<img class="social-icon" src="{{@root.meta.assetsPath}}img/Pinterest-721970c81623d7c9611d85bd520aced6.png" alt="pinterest">
    	</li>
    </a>
    <a href="">
    	<li>
    		<img class="social-icon" src="{{@root.meta.assetsPath}}img/Google-49716edaa9194373d4a07fcb285cf037.png" alt="google plus">
    	</li>
    </a>
  </ul>
</div>
<!-- end catalog/pdp/product-social.hbs -->
