<!-- start catalog/pdp/social-icons.hbs -->
<ul class="social-icons">
  <a href=""><li><img class="social-icon" src="{{@root.meta.assetsPath}}img/Facebook-ef32eacb611b070b6f37fdc6772767fb.png" alt="Facebook"></li></a>
  <a href=""><li><img class="social-icon" src="{{@root.meta.assetsPath}}img/Pinterest-721970c81623d7c9611d85bd520aced6.png" alt="Pinterest"></li></a>
  <a href=""><li><img class="social-icon" src="{{@root.meta.assetsPath}}img/Google-49716edaa9194373d4a07fcb285cf037.png" alt="Google+"></li></a>
</ul>
<!-- end catalog/pdp/social-icons.hbs -->
